<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Suppression</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
			</div>
			<div class="modal-footer">
				{# <a href="{{path('user.delete', {id: user.id})}}" class="btn btn-danger">Supprimer</a> #}
                <button type="button" class="btn btn-primary">Annuler</button>
			</div>
		</div>
	</div>
</div>
